!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### MacOS Files ###
.DS_Store

### Project files to ignore ###
/client/node_modules
/client/build/
/client/coverage/
/src/main/resources/static/
tmp/acceptance.log
/client/yarn-error.log
/target/
/artifacts/
magpie.log

### Acceptance output images/node_modules ###
/acceptance/output/
/acceptance/node_modules/
